<launch>
	<group ns="fbm1h">

		<rosparam file="$(find rockin_benchmarking)/config/fbm1h.yaml" command="load" />

		<node pkg="tf"
			type="static_transform_publisher"
			name="world_map_bc"
			args="0 0 0 0 0 0 world map 100"
		/>
		
		<node name="map_server"
			pkg="map_server"
			type="map_server"
			args="$(find rockin_benchmarking)/config/map_fbm.yaml"
		/>
	
		<node pkg="mocap_optitrack_mod2" 
			type="mocap_node_mod2" 
			name="mocap_node_mod2" 
			respawn="false"
			launch-prefix=""
			required="true"
		/>

		<node name="bmbox"
			pkg="rockin_benchmarking"
			type="fbm1h"
			output="screen"
			launch-prefix="gnome-terminal -e"
		/>

		<node pkg="rosbag"
			type="record"
			name="log_fbmh1"
			args="record -o /home/rockin/logs/log_fbm1h
				--split --duration=1h
				/fbm1h/bmbox_state
				/fbm1h/client_state
				/fbm1h/refbox_state
				/fbm1h/map
				/fbm1h/map_metadata
				/fbm1h/origin/pose
				/fbm1h/origin/pose2d
				/fbm1h/ref_board/pose
				/fbm1h/ref_board/pose2d
				/tf
				/rosout"
		/>

	</group>    
</launch>
