<launch>
	<group ns="tbmw">
	
		<rosparam file="$(find rockin_benchmarking)/config/log_mocap_tbmw.yaml" command="load" />

		<node pkg="tf"
			type="static_transform_publisher"
			name="world_map_bc"
			args="0 0 0 0 0 0 world map 100"
		/>
		
		<node name="map_server"
			pkg="map_server"
			type="map_server"
			args="$(find rockin_benchmarking)/config/map_tbmw.yaml"
		/>

		<node name="mocap_tbmw" 
			pkg="mocap_optitrack_mod2" 
			type="mocap_node_mod2"
			respawn="false"
			launch-prefix=""
			required="true"
		/>

		<node pkg="rosbag"
			type="record"
			name="log_mocap_tbmw"
			args="record -o /home/rockin/logs/log_mocap_tbmw
				--split --duration=1h
				/tbmw/map
				/tbmw/map_metadata
				/tbmw/robot/pose
				/tbmw/robot/pose2d
				/tf"
		/>

	</group>      
</launch>
