<launch>
	<rosparam file="$(find rockin_benchmarking)/config/fbm1h.yaml" command="load" />

	<!-- useful to publish a map visible via rviz -->
	<node pkg="tf" type="static_transform_publisher" name="world_map_bc" args="-0.8 0.25 0 -1.57 0 0 world map 100" />
	<node name="map_server" pkg="map_server" type="map_server" args="$(find mocap_optitrack_mod2)/config/map.yaml" />  
  
	<node pkg="mocap_optitrack_mod2" 
		type="mocap_node_mod2" 
		name="mocap_node_mod2" 
		respawn="false"
		launch-prefix=""
		required="true">
	</node>    
</launch>
